<!--
  templateType: global_partial
  label: Website header
  isAvailableForNewContent: false
-->
<header class="">
  {# Main header #}

  <div class="">
    <h1>
      {% module "page_title" path="@hubspot/text", label="Header Description", value="Cats are wonderful" %}
    </h1>
    <p>
      {% module "page_title" path="@hubspot/text", label="Header Description", 
      value="The naming of cats is a difficult matter. it isn't just one of tour holidays games. You may think at first I'm mad as a hatter. when I tell you a cat must have three different names..." %}
    </p>
    <p style="font-style: italic">
      {% module "page_title" path="@hubspot/text", label="Header Description", value="T.S. Elliot" %}
    </p>
  </div>

  <div class="menu">
    {% module "module_menu" path="@hubspot/menu", label="Menu Module" %}
  </div>

</header>
